{% extends "base.html" %}

{% block title %}Панель управления{% endblock %}

{% block custom_head %}

<style type="text/css">
.pattern {
  width: 240px;
}

</style>
{% endblock %}

{% block content %}
    <!-- <h1 class="page-header">Статистика</h1> -->
<h1>Шаблоны поведения в виде тепловой карты</h1>
<div class="container-fluid">
{% for phone,pattern in patterns.iteritems %}
  <div class="pull-left pattern">
  <font size="4">{{phone}} <span class="label label-success">{{pattern.class}}</span></font><br>

    <script type="text/javascript+protovis">
    var colors = ["black", "blue", "orange", "green", "red", "yellow", "violet"];
    var nba = {{pattern.data | safe}};

    /* Convert from tabular format to array of objects. */
    var cols = nba.shift();
    nba = nba.map(function(d) pv.dict(cols, function() d[this.index]));
    cols.shift();

    /* The color scale ranges 3 standard deviations in each direction. */
    var x = pv.dict(cols, function(f) pv.mean(nba, function(d) d[f])),
        s = pv.dict(cols, function(f) pv.deviation(nba, function(d) d[f])),
     fill = pv.dict(cols, function(f) pv.Scale.linear()
            .domain(-3 * s[f] + x[f], 3 * s[f] + x[f])
            .range("white", colors["{{pattern.class}}"=="None"?0:{{pattern.class}}+1]));

    /* The cell dimensions. */
    var w = 25, h = 15;

    var vis = new pv.Panel()
        .width(cols.length * w)
        .height(nba.length * h)
        .top(10)
        .left(15);

    vis.add(pv.Panel)
        .data(cols)
        .left(function() this.index * w)
        .width(w)
      .add(pv.Panel)
        .data(nba)
        .top(function() this.index * h)
        .height(h)
        .fillStyle(function(d, f) fill[f](d[f]))
        .strokeStyle("white")
        .lineWidth(1)
        .antialias(false)
        .title(function(d, f) d.Name + "'s " + f + ": " + d[f]);

    vis.add(pv.Label)
        .data(cols)
        .left(function() this.index * w)
        .top(-5)
        .textAngle(0)
        .textBaseline("middle");

    vis.add(pv.Label)
        .data(nba)
        .top(function() this.index * h + h / 2)
        .left(0)
        .textAlign("right")
        .textBaseline("middle")
        .text(function(d) d.Name);

    vis.render();

    </script>
  </div>
{% endfor %}


</div>

<h1>Поведение пользователей в реальном времени</h1>
{% for phone,hist in hist.iteritems %}
<div id="container{{phone}}" style="height: 250px"></div>

<script type="text/javascript">
        $(function () {

            var limits = {{hist.appropriate | safe}},
                fetched = {{hist.data | safe}},

                pattern = {{hist.pattern | safe}};

            $('#container{{phone}}').highcharts({
                title: {
                    text: "{{phone}}"
                },
                xAxis: {
                    title: {
                        text: null
                    },
                    type: 'linear',
                    labels: {
                        enabled: false
                    },
                    lineWidth: 0,
                    tickWidth: 0
                },

                yAxis: {
                    title: {
                        text: null
                    },
                    labels: {
                        enabled: true
                    },
                    gridLineWidth: 1
                },

                tooltip: {
                    crosshairs: true,
                    shared: true,
                    valueSuffix: ' calls per hour'
                },

                legend: {
                    enabled: true
                },

                series: [{
                    id: 'valueLine',
                    name: 'Fetched',
                    type: 'spline',
                    data: fetched,
                    zIndex: 1,
                    color: 'black',
                    shadow: true,
                    lineWidth: 0.5,
                    marker: {
                        fillColor: 'black',
                        lineWidth: 1,
                        radius: 2,
                        lineColor: "white",
                        enabled: true,
                        symbol: 'circle'
                    }
                }, {
                    id: 'targetLine',
                    name: 'Pattern',
                    type: 'spline',
                    data: pattern,
//                    linkedTo: 'valueLine',
                    zIndex: 1,
                    color: 'gray',
                    lineWidth: 2,
                    dashStyle: 'DashDot',
                    marker: {
                        fillColor: 'gray',
                        lineWidth: 1,
                        radius: 2,
                        lineColor: "white",
                        enabled: false,
                        symbol: 'circle'
                    }
                }
                , {
                    id: 'limitsArea',
                    name: 'Limits',
                    data: limits,
                    type: 'areasplinerange',
                    lineWidth: 1,
                    lineColor: 'gray',
                    // linkedTo: 'valueLine',
                    color: "lightGray",
                    fillOpacity: 0.3,
                    zIndex: 0
                }
                ]

            });

        });

</script>
{% endfor %}


{% endblock %}
